# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: "^www/__tests__/index/.*$"
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1" # Use the sha / tag you want to point at
    hooks:
      - id: prettier
        types_or: [css, javascript, ts, tsx]

  - repo: https://github.com/omnilib/ufmt
    rev: v2.0.0
    hooks:
      - id: ufmt
        entry: python -c 'import os; os.environ["LIBCST_PARSER_TYPE"] = "native"; os.execlp("ufmt", "ufmt", "format")'

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.971"
    hooks:
      - id: mypy
        additional_dependencies: &deps
          - aiofiles==0.8.0
          - cattrs==22.1.0
          - click>=8.1.3
          - httpx==0.23.0
          - rich>=12.5.1
          - libcst>=0.4.7
          - trailrunner>=1.2.1
          - packaging>=21
          - pytest
          - types-aiofiles==0.8.0

  - repo: local
    hooks:
      - id: generate-test-fixtures
        name: Generate test fixtures
        language: python
        types_or: [python, json]
        entry: "python -m py_wtf generate-test-index www/__tests__/index"
        pass_filenames: false
        require_serial: true
        additional_dependencies: *deps

default_language_version:
  python: python3.10
