[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "py-wtf"
description = 'Documentation index'
readme = "README.md"
requires-python = ">=3.10"
license = "MIT"
keywords = []
authors = [
  { name = "Zsolt Dollenstein", email = "zsol.zsol@gmail.com" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: Implementation :: CPython",
]
dependencies = [
  "click>=8.1.3",
  "dataclasses-json>=0.5.7",
  "rich>=12.5.1",
  "libcst>=0.4.7",
  "trailrunner>=1.2.1",
]
dynamic = ["version"]

[project.urls]
Documentation = "https://github.com/zsol/py.wtf#readme"
Issues = "https://github.com/zsol/py.wtf/issues"
Source = "https://github.com/zsol/py.wtf"

[project.scripts]
py-wtf = "py_wtf.cli:py_wtf"

[tool.hatch.version]
path = "py_wtf/__about__.py"

[tool.hatch.build.targets.sdist]
[tool.hatch.build.targets.wheel]

[tool.hatch.envs.default]
dependencies = [
  "pytest",
  "pytest-cov",
]
[tool.hatch.envs.default.scripts]
cov = "pytest --cov-report=term-missing --cov-config=pyproject.toml --cov=py_wtf --cov=tests"
no-cov = "cov --no-cov"

[[tool.hatch.envs.test.matrix]]
python = ["310"]

[tool.coverage.run]
branch = true
parallel = true
omit = [
  "py_wtf/__about__.py",
]

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]
